.idea/
node_modules/
/src/wp-plugin/src/admin/assets/*.html
/src/wp-plugin/src/admin/assets/*.common.js
/src/wp-plugin/src/admin/assets/*.umd.js
/src/wp-plugin/src/public/assets/*.html
/src/wp-plugin/src/public/assets/*.common.js
/src/wp-plugin/src/public/assets/*.umd.js