div.tradecast-add-interests-gallery-content-container {
  div.header {
    box-shadow: $box-shadow-light;
    padding: 1.5rem 2rem 1rem 2rem;

    div.search {
      position: relative;

      input[name='search'] {
        border-color: $gray;
        width: 100%;
      }

      &::after {
        color: $gray-dark;
        content: '\f179';
        display: block;
        font-family: dashicons;
        font-size: 1.2rem;
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }

  div.interests {
    padding: 1.5rem 2rem;
    position: relative;
    min-height: 150px;

    div.interest-collapse {
      background: $white;
      border-radius: 5px;
      box-shadow: $box-shadow-light;
      margin: 10px auto;
      padding: 1rem;

      hr {
        background: $gray-light;
        border: 0;
        height: 2px;
        margin: 15px auto;
      }
    }

    div.loader-overlay {
      align-content: center;
      align-items: center;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
