div.tradecast-gallery-header-container {
  div.tradecast-gallery-header {
    margin-top: 35px;
    position: relative;
    text-align: center;
    width: 100%;

    div.logo {
      background: url('../../images/tradecast-logo.svg') no-repeat center center;
      background-size: contain;
      display: inline-block;
      height: 75px;
      margin-bottom: 15px;
      width: 75px;
    }

    div.content {
      height: auto;
      margin: 25px 0;
      text-align: center;
      z-index: 1;

      a,
      a:link {
        color: $black;
        font-weight: bold;
      }

      h2 {
        display: inline-block;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 5px;
      }
    }
  }
}
