div.tradecast-loader {
  align-content: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  span {
    animation: spin 1s linear infinite;
    border-radius: 35px;
    border: 2px solid $primary;
    border-right: 2px solid transparent;
    display: block;
    height: 35px;
    width: 35px;
    margin: 15px;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
